header {
    width: 1392px;
    height: 300px;
    left: 0px;
    top: 0px;
    background: #407E3B;
}
.logo1{
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 21px;
    left: 22px;
}
.text{
    display:flex;
    position:absolute;
    bottom:250px;
}